*
*/

!deployarr_v5.5.app 
!deployarr_v5.5-arm.app 
!deployarr_v5.6.app 
!deployarr_v5.6-arm.app 

!.gitignore
!announcement
!CHANGELOG.md
!latest-version
!LICENSE
!README.md
dpf*
*.sh 

!compose
compose/*
!compose/*.yml

!docs
docs/*
!docs/*.md

!images
!images/*
!images/*/*

!includes
!includes/*
!includes/*/*

!scripts
scripts/*
!scripts/*.sh

!archives
archives/*
!archives/deployarr_v4
archives/deployarr_v4/*
!archives/deployarr_v4/compose
archives/deployarr_v4/compose/*
!archives/deployarr_v4/compose/*.yml
!archives/deployarr_v4/includes
!archives/deployarr_v4/includes/*
!archives/deployarr_v4/includes/*/*
!archives/deployarr_v4/scripts
archives/deployarr_v4/scripts/*
!archives/deployarr_v4/scripts/*.sh
