*
*/

!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!announcement
!latest-version
!deployarr_v4.5.4.app
!deployarr_v4.5.4-arm.app

!compose
compose/*
!compose/*.yml

!scripts
scripts/*
!scripts/*.sh

!screenshots
!screenshots/*
!screenshots/*/*

!includes
!includes/*
!includes/*/*