*
*/

!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!latest-version
!auto-traefik_v2.0.shb
!auto-traefik_v2.0-arm.shb

!compose
compose/*
!compose/*.yml

!includes
includes/*
!includes/*.yml
!includes/authelia
includes/authelia/*
!includes/authelia/*.yml
!includes/traefik
includes/traefik/*
!includes/traefik/*.yml