[Unit]
Description=Rclone SMB
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount REMOTE-NAME-PLACEHOLDER: REMOTE-MOUNTPOINT-PLACEHOLDER \
#--read-only \
--config DOCKER-FOLDER-PLACEHOLDER/appdata/rclone/rclone.conf \
--log-file=DOCKER-FOLDER-PLACEHOLDER/logs/HOSTNAME-PLACEHOLDER/rclone-REMOTE-NAME-PLACEHOLDER.log \
--log-level NOTICE \
--allow-other \
--no-modtime \
--umask 002 \
--user-agent HOSTNAME-PLACEHOLDER \
--dir-cache-time 24h \
--buffer-size 128M \
--vfs-fast-fingerprint \
--vfs-cache-mode full \
--vfs-cache-max-age 336h \
--cache-dir=REMOTE-CACHEDIR-PLACEHOLDER \
--vfs-cache-max-size REMOTE-CACHESIZE-PLACEHOLDERG \
--vfs-read-chunk-size-limit 10G \
--vfs-refresh \
#--rc \
#--rc-web-gui \
#--rc-addr :5572 \
#--rc-web-gui-no-open-browser \
#--rc-no-auth \
#--rc-user= \
#--rc-pass= \
--use-mmap
ExecStop=/bin/fusermount -uz REMOTE-MOUNTPOINT-PLACEHOLDER
#ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true --rc-addr :5572 _async=true
Restart=on-abort
User=USERNAME-PLACEHOLDER
Group=USERNAME-PLACEHOLDER
KillMode=mixed
RestartSec=5

[Install]
WantedBy=default.target
